image: node:16-alpine

variables:
  AOC21_DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}/aoc-21/${CI_COMMIT_REF_SLUG}:latest

aoc-21:build:
  stage: build
  tags:
    - docker
  script:
    - yarn nx run advent-of-code-2021:build
  artifacts:
    paths:
      - dist/apps/advent-of-code-2021
    expire_in: 1 hour

aoc-21:package:
  image: docker
  variables:
    DOCKER_HOST: 'tcp://docker:2375'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  services:
    - docker:dind
  stage: package
  needs:
    - aoc-21:build
  tags:
    - docker
  only:
    - main
  before_script:
    - docker login -u "gitlab-ci-token" -p "${CI_JOB_TOKEN}" ${CI_REGISTRY}
  script:
    - docker build -f apps/advent-of-code-2021/Dockerfile -t ${AOC21_DOCKER_IMAGE} .
    - docker push ${AOC21_DOCKER_IMAGE}

aoc-21:deploy:
  stage: deploy
  needs:
    - aoc-21:package
  tags:
    - deploy
  only:
    - main
  before_script:
    - docker login -u "gitlab-ci-token" -p "${CI_JOB_TOKEN}" ${CI_REGISTRY}
    - docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
  script:
    - docker-compose -f apps/advent-of-code-2021/docker-compose.deploy.yml pull
    - docker-compose -f apps/advent-of-code-2021/docker-compose.deploy.yml up -d --remove-orphans
