# Documentation: https://docs.github.com/en/github/administering-a-repository/enabling-and-disabling-version-updates
version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '04:00'
  - package-ecosystem: 'npm'
    directory: '/'
    open-pull-requests-limit: 20
    ignore:
      # @nestjs/* dependencies will be updated via the @nestjs/core package.
      - dependency-name: '@nestjs/common'
      - dependency-name: '@nestjs/microservices'
      - dependency-name: '@nestjs/platform-express'
      - dependency-name: '@nestjs/testing'
      # @nrwl/* dependencies will be updated via the nx package.
      - dependency-name: '@nrwl/cypress'
      - dependency-name: '@nrwl/devkit'
      - dependency-name: '@nrwl/eslint-plugin-nx'
      - dependency-name: '@nrwl/jest'
      - dependency-name: '@nrwl/js'
      - dependency-name: '@nrwl/linter'
      - dependency-name: '@nrwl/nest'
      - dependency-name: '@nrwl/node'
      - dependency-name: '@nrwl/nx-plugin'
      - dependency-name: '@nrwl/react'
      - dependency-name: '@nrwl/web'
      - dependency-name: '@nrwl/workspace'
      # @prisma/client will be updated via the prisma package.
      - dependency-name: '@prisma/client'
      # @remix-run/* will be updated via the rimax package.
      - dependency-name: '@remix-run/react'
      - dependency-name: '@remix-run/serve'
      - dependency-name: '@remix-run/dev'
      # @typescript-eslint/eslint-plugin will be updated via the @typescript-eslint/parser package.
      - dependency-name: '@typescript-eslint/eslint-plugin'
      # babel-jest will be updated via the jest package.
      - dependency-name: 'babel-jest'
    schedule:
      interval: 'daily'
