image: node:22.21.1

variables:
  GIT_DEPTH: 0

stages:
  - static
  - test
  - build
  - deploy

.distributed:
  interruptible: true
  tags:
    - docker
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: on_success
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: on_success
  before_script:
    - yarn install --frozen-lockfile
    - NX_HEAD=$CI_COMMIT_SHA
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}

.dind:
  services:
    - docker:29.1.2-dind
  variables:
    DOCKER_HOST: 'tcp://docker:2375'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  before_script:
    - !reference [.distributed, before_script]
    - sh tools/scripts/install-docker-debian.sh

audit:
  stage: static
  extends:
    - .distributed
  script:
    - yarn audit
  allow_failure: true

migrations-check:
  stage: static
  extends:
    - .distributed
  before_script:
    - !reference [.distributed, before_script]
    - apt-get update && apt-get install -y jq
  script:
    # Check if we need to run migrations for Nx
    - echo Based of nx version $(git show ${NX_BASE}:package.json|jq -r '.devDependencies.nx')
    - time yarn nx migrate $(cat package.json|jq -r '.devDependencies.nx') --from nx@$(git show ${NX_BASE}:package.json|jq -r '.devDependencies.nx')
    - if [[ -f migrations.json ]] ; then echo "Cancelling this update because it has migrations" ; cat migrations.json ; exit 1 ; fi
  after_script:
    - git status
  allow_failure: true

api-client-check:
  stage: static
  extends:
    - .distributed
  script:
    # Check if API specification and client are up to date
    - time yarn nx run-many --target generate-api-spec --all
    - time yarn nx run-many --target generate-api-client --all
    - git diff --quiet -- ':!package.json' # This will have a non-zero exit code when a file is modified (excluding package.json)
  after_script:
    - git status

lint-and-format:
  stage: static
  extends:
    - .distributed
  script:
    - time yarn nx format:check --base=$NX_BASE --head=$NX_HEAD
    - time yarn nx affected --base=$NX_BASE --head=$NX_HEAD -t lint --parallel=8

test:
  stage: test
  needs: []
  extends:
    - .distributed
  retry: 2
  script:
    - time yarn nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=8 --configuration=ci
  artifacts:
    when: always
    paths:
      - reports/test/*.xml
      - coverage/**/cobertura-coverage.xml
    reports:
      junit: reports/test/*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage/**/cobertura-coverage.xml
    expire_in: 2 weeks

component-test:
  stage: test
  needs: []
  extends:
    - .distributed
  tags:
    - docker
  retry: 2
  before_script:
    - !reference [.distributed, before_script]
    - sh tools/scripts/install-cypress-dependencies.sh
  script:
    - time yarn nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=1 --configuration=ci
  artifacts:
    when: always
    paths:
      - reports/component-test/*.xml
      - dist/cypress/*
    reports:
      junit: reports/component-test/*.xml
    expire_in: 2 weeks

e2e:
  stage: test
  extends:
    - .distributed
    - .dind
  tags:
    - amd64
    - chrome
    - docker
  retry: 2
  needs:
    - lint-and-format
    - test
  variables:
    FEEDS_DATABASE_URL: postgres://postgres:local_db_password@docker:5434/feeds
  before_script:
    - !reference [.dind, before_script]
    - sh tools/scripts/install-cypress-dependencies.sh
    - sh tools/scripts/install-google-chrome.sh
  script:
    - time yarn nx affected --base=$NX_BASE --head=$NX_HEAD -t e2e --parallel=1 --configuration=ci --browser=chrome
  artifacts:
    when: always
    paths:
      - reports/e2e/*.xml
      - dist/cypress/*
    reports:
      junit: reports/e2e/*.xml
    expire_in: 2 weeks

build:
  stage: build
  extends:
    - .distributed
  retry: 2 # sometimes the prisma.io binaries are not properly generated
  needs:
    - lint-and-format
    - test
    - component-test
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      # We do not need to run this on the main branch as package runs build on its own.
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      # We want this job for merge requests because sometimes this fails even though lint is happy
      when: on_success
  script:
    - time yarn nx affected --base=$NX_BASE --head=$NX_HEAD -t build --parallel=8

package:
  stage: build
  timeout: 30 minutes
  extends:
    - .distributed
    - .dind
  tags:
    - docker
    - amd64
  needs:
    - lint-and-format
    - test
    - component-test
    - e2e
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME !~ /^renovate\/.*$/
      when: manual
    - if: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /^renovate\/.*$/
      when: never
  script:
    - docker login -u "gitlab-ci-token" -p "${CI_JOB_TOKEN}" ${CI_REGISTRY}
    - yarn nx affected --base=$NX_BASE --head=$NX_HEAD -t package --parallel=1 --configuration=ci
  artifacts:
    paths:
      - dist/apps
    expire_in: 1 hour

.deploy:
  needs:
    - package
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME !~ /^renovate\/.*$/
      when: manual
    - if: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /^renovate/
      when: never
  before_script:
    - source ~/.nvm/nvm.sh
    - yarn install --frozen-lockfile
    - NX_HEAD=$CI_COMMIT_SHA
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - docker login -u "gitlab-ci-token" -p "${CI_JOB_TOKEN}" ${CI_REGISTRY}

deploy-on-nas:
  stage: deploy
  extends:
    - .deploy
  tags:
    - amd64
    - elgato
  script:
    - yarn nx affected --base=$NX_BASE --head=$NX_HEAD -t deploy --parallel=1 --configuration=ci --exclude='*,!tag:nas'
  retry: 2 # DNS sometimes fails, but we can safely retry

deploy-on-server:
  stage: deploy
  extends:
    - .deploy
  tags:
    - amd64
    - deploy
  script:
    - yarn nx affected --base=$NX_BASE --head=$NX_HEAD -t deploy --parallel=1 --configuration=ci --exclude='tag:nas'
