stages:
  - prepare
  - test
  - build
  - package
  - deploy

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/

default:
  before_script:
    - yarn install --network-timeout 150000

include:
  - /apps/feeds/.gitlab-ci.yml
  - /apps/suite/.gitlab-ci.yml

lint:
  stage: test
  tags:
    - docker
  script:
    - yarn nx run-many --target=lint --all
