# Add files here to ignore them from prettier formatting

/dist
/coverage
build/

/.nx/cache

**/migration.sql

# Do not format generated API specs
apps/elgato/backend/openapi-elgato.json
apps/feeds/backend/openapi-feeds.json
