# Add files here to ignore them from prettier formatting

/dist
/coverage
build/

/.nx/cache

**/migration.sql

# Do not format generated API specs
apps/elgato/backend/elgato-internal.json
apps/elgato/backend/elgato-public.json
apps/feeds/backend/feeds-internal.json
apps/stgtrails/stgtrails-backend/stgtrails-internal.json
