html,
body,
.app,
#root {
  margin: 0;

  /* disable scrolling */
  overflow: hidden;

  height: 100%;
  min-height: -webkit-fill-available;

  width: 100vw;
}

html {
  background: cadetblue;
}

.app {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.header-controls {
  margin: 5px;

  width: 100%;
  max-width: 700px;

  justify-content: space-between;
  display: flex;
}
