image: node:17-alpine

feeds:test:
  services:
    - docker:dind
  variables:
    DOCKER_HOST: 'tcp://docker:2375'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  stage: test
  tags:
    - docker
  script:
    - yarn nx run-many --target test --projects feeds-backend,feeds-web
  after_script:
    - yarn jrm reports/test/junit-feeds.xml reports/test/test-*.xml
  artifacts:
    when: always
    reports:
      junit:
        - reports/test/junit-feeds.xml

feeds:build:
  stage: build
  tags:
    - docker
  only:
    - main
  parallel:
    matrix:
      - FEEDS_APP:
          - backend
          - web
  script:
    - yarn nx run feeds-${FEEDS_APP}:build:production
  artifacts:
    paths:
      - dist/apps/feeds/${FEEDS_APP}
    expire_in: 1 hour

feeds:package:
  cache: []
  image: docker
  services:
    - docker:dind
  variables:
    DOCKER_HOST: 'tcp://docker:2375'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  stage: package
  needs:
    - feeds:build
  tags:
    - docker
  parallel:
    matrix:
      - FEEDS_APP:
          - backend
          - web
  only:
    - main
  before_script:
    - docker login -u "gitlab-ci-token" -p "${CI_JOB_TOKEN}" ${CI_REGISTRY}
    - export DOCKER_IMAGE_NAME=${CI_REGISTRY_IMAGE}/feeds-${FEEDS_APP}/${CI_COMMIT_REF_SLUG}:latest
  script:
    - docker build -f apps/feeds/${FEEDS_APP}/Dockerfile -t ${DOCKER_IMAGE_NAME} .
    - docker push ${DOCKER_IMAGE_NAME}

feeds:deploy:
  cache: []
  stage: deploy
  needs:
    - feeds:package
  tags:
    - deploy
  only:
    - main
  variables:
    FEEDS_BACKEND_DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}/feeds-backend/${CI_COMMIT_REF_SLUG}:latest
    FEEDS_WEB_DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}/feeds-web/${CI_COMMIT_REF_SLUG}:latest
  before_script:
    - docker login -u "gitlab-ci-token" -p "${CI_JOB_TOKEN}" ${CI_REGISTRY}
    - docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
  script:
    - docker-compose -f apps/feeds/docker-compose.deploy.yml pull
    - docker-compose -f apps/feeds/docker-compose.deploy.yml up -d --remove-orphans
