version: '3'

services:
  feeds-ms-postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: super_secret
      POSTGRES_DB: feeds
    ports:
      - 5434:5432

  amqp:
    image: rabbitmq:3-management
    hostname: feeds-rabbit
    container_name: feeds-rabbit
    ports:
      - 5672:5672
      - 15672:15672
