$gap: 0.5rem;
$key-height: 3.5rem;

.keyboard {
  display: grid;
  gap: $gap;
  grid-template-rows: repeat(6, 1fr);
  width: calc(15 * $key-height) + calc(14 * $gap);
  margin: auto;

  & > .f-row {
    display: grid;
    grid-template-columns: 2fr repeat(13, 1fr);
    gap: $gap;

    > .key {
      margin-top: calc(1 / 3 * $key-height);
      height: calc(2 / 3 * $key-height);
    }
  }

  & > .number-row {
    display: grid;
    grid-template-columns: repeat(13, 1fr) 2fr;
    gap: $gap;
  }

  & > .q-row {
    display: grid;
    grid-template-columns: 1.625fr repeat(12, 1fr) 1.375fr;
    gap: $gap;
  }

  & > .a-row {
    display: grid;
    grid-template-columns: 2fr repeat(12, 1fr) 1fr;
    gap: $gap;
  }

  & > .z-row {
    display: grid;
    grid-template-columns: 1.375fr repeat(11, 1fr) 2.875fr;
    gap: $gap;
  }

  & > .space-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 4.425fr repeat(3, 1fr);
    gap: $gap;
  }
}

.key {
  height: $key-height;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;

  color: rgb(255 255 255);
  background-color: rgb(107 114 128);

  &.return-top {
    border-bottom-right-radius: 0;
  }

  &.return-bottom {
    height: calc($key-height + $gap);
    margin-top: -$gap;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
