image: node:19-alpine

variables:
  APP_SUITE_DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}/suite/${CI_COMMIT_REF_SLUG}:latest

suite:test:
  stage: test
  tags:
    - docker
  script:
    - yarn nx run suite:test
  after_script:
    - yarn jrm reports/test/junit-suite.xml reports/test/test-*.xml
  artifacts:
    when: always
    reports:
      junit:
        - reports/test/junit-suite.xml

suite:build:
  stage: build
  tags:
    - docker
  script:
    - yarn nx run suite:build:production
  artifacts:
    paths:
      - dist/apps/suite
    expire_in: 1 hour

suite:package:
  image: docker
  variables:
    DOCKER_HOST: 'tcp://docker:2375'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  services:
    - docker:dind
  stage: package
  needs:
    - suite:build
  tags:
    - docker
  only:
    - main
  before_script:
    - docker login -u "gitlab-ci-token" -p "${CI_JOB_TOKEN}" ${CI_REGISTRY}
  script:
    - docker build -f apps/suite/Dockerfile -t ${APP_SUITE_DOCKER_IMAGE} .
    - docker push ${APP_SUITE_DOCKER_IMAGE}

suite:deploy:
  stage: deploy
  needs:
    - suite:package
  tags:
    - deploy
  only:
    - main
  before_script:
    - docker login -u "gitlab-ci-token" -p "${CI_JOB_TOKEN}" ${CI_REGISTRY}
    - docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
  script:
    - docker-compose -f apps/suite/docker-compose.deploy.yml pull
    - docker-compose -f apps/suite/docker-compose.deploy.yml up -d --remove-orphans
