name: Build
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  setup:
    name: Install dependencies
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.3.0
        with:
          node-version: '16'
          cache: 'yarn'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/Cypress
            node_modules/
          key: ${{ runner.os }}-build-yarn-v1-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v1-

      - name: Install dependencies
        run: yarn install

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: setup
    strategy:
      matrix:
        project: [advent-of-code-2021, github-pipeline-status, feeds-backend, feeds-web, suite]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.3.0
        with:
          node-version: '16'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/Cypress
            node_modules/
          key: ${{ runner.os }}-build-yarn-v1-${{ hashFiles('**/yarn.lock') }}

      - name: Increase numbers of file watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Run ${{ matrix.project }}:build
        timeout-minutes: 15
        run: yarn nx run ${{ matrix.project }}:build --prod
