name: E2E
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  setup:
    name: Install dependencies
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.0.0
        with:
          node-version: '14'
          cache: 'yarn'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/Cypress
            node_modules/
          key: ${{ runner.os }}-e2e-yarn-v1-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v1-

      - name: Install dependencies
        run: yarn install

  e2e:
    name: E2E
    runs-on: ubuntu-latest
    needs: setup
    strategy:
      matrix:
        project:
          [
            advent-of-code-2021-e2e,
            github-pipeline-status-e2e,
            suite-e2e,
            plugins-nx-cypress-ct-e2e,
            plugins-nx-remix-e2e,
          ]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.0.0
        with:
          node-version: '14'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/Cypress
            node_modules/
          key: ${{ runner.os }}-e2e-yarn-v1-${{ hashFiles('**/yarn.lock') }}

      - name: Increase numbers of file watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Run ${{ matrix.project }}:e2e
        timeout-minutes: 15
        run: yarn nx run ${{ matrix.project }}:e2e
