name: Main
on:
  push:
    branches:
      - main

jobs:
  setup:
    name: Install dependencies
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.0.0
        with:
          node-version: '14'
          cache: 'yarn'

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/Cypress
            node_modules/
          key: ${{ runner.os }}-yarn-v1-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v1-

      - name: Install dependencies
        run: yarn install

  all:
    name: All
    runs-on: ubuntu-latest
    needs: setup
    strategy:
      matrix:
        target: ['lint', 'ct', 'test', 'build --prod']

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.0.0
        with:
          node-version: '14'

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/Cypress
            node_modules/
          key: ${{ runner.os }}-yarn-v1-${{ hashFiles('**/yarn.lock') }}

      - name: Increase numbers of file watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: ${{ matrix.target }}
        timeout-minutes: 15
        run: yarn nx run-many --all --target=${{ matrix.target }} --parallel=1
