name: Pull Request
on: [pull_request]

jobs:
  setup:
    name: Install dependencies
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/Cypress
            node_modules/
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

  affected:
    name: Affected
    runs-on: ubuntu-latest
    needs: setup
    strategy:
      matrix:
        target: ['lint', 'ct', 'test', 'build:production']

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/Cypress
            node_modules/
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

      - name: Increase numbers of file watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Generate code
        run: yarn nx run-many --target=generate --all

      - name: ${{ matrix.target }}
        run: yarn nx affected --base=origin/main --target=${{ matrix.target }}
