name: Pull Request
on: [pull_request]

jobs:
  setup:
    name: Install dependencies
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3.3.0
        with:
          node-version: '16'
          cache: 'yarn'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/Cypress
            node_modules/
          key: ${{ runner.os }}-affected-yarn-v1-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v1-

      - name: Install dependencies
        run: yarn install

  affected:
    name: Affected
    runs-on: ubuntu-latest
    needs: setup
    strategy:
      matrix:
        target: ['lint', 'ct', 'test']

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3.3.0
        with:
          node-version: '16'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/Cypress
            node_modules/
          key: ${{ runner.os }}-affected-yarn-v1-${{ hashFiles('**/yarn.lock') }}

      - name: Increase numbers of file watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: ${{ matrix.target }}
        timeout-minutes: 15
        run: yarn nx affected --base=origin/main --target=${{ matrix.target }} --parallel=1
