name: Pull Request
on: [ pull_request ]

jobs:
  setup_matrix:
    name: Setup Matrix
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Debug
        run: |
          npx -q nx print-affected --base origin/main --target lint

      - name: Configure matrix
        id: configure-matrix
        run: |
          echo "::set-output name=lint::$(npx -q nx print-affected --base origin/main --target lint   |sed '$ d'|tail -n +3|jq '.tasks'|jq -c 'map(.target.project)')"
          echo "::set-output name=test::$(npx -q nx print-affected --base origin/main --target test   |sed '$ d'|tail -n +3|jq '.tasks'|jq -c 'map(.target.project)')"
          echo "::set-output name=build::$(npx -q nx print-affected --base origin/main --target build |sed '$ d'|tail -n +3|jq '.tasks'|jq -c 'map(.target.project)')"
          echo "::set-output name=e2e::$(npx -q nx print-affected --base origin/main --target e2e |sed '$ d'|tail -n +3|jq '.tasks'|jq -c 'map(.target.project)')"

    outputs:
      lint: ${{ steps.configure-matrix.outputs.lint }}
      test: ${{ steps.configure-matrix.outputs.test }}
      build: ${{ steps.configure-matrix.outputs.build }}
      e2e: ${{ steps.configure-matrix.outputs.e2e }}
      lint_should_run: ${{ fromJson(steps.configure-matrix.outputs.lint)[0] }}
      test_should_run: ${{ fromJson(steps.configure-matrix.outputs.test)[0] }}
      build_should_run: ${{ fromJson(steps.configure-matrix.outputs.build)[0] }}
      e2e_should_run: ${{ fromJson(steps.configure-matrix.outputs.e2e)[0] }}

  lint:
    name: Lint
    needs: setup_matrix
    runs-on: ubuntu-latest
    if: ${{ needs.setup_matrix.outputs.lint_should_run != '' }}
    strategy:
      matrix:
        project: ${{ fromJson( needs.setup_matrix.outputs.lint ) }}

    steps:
      - uses: actions/checkout@v2

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Lint
        run: yarn nx run ${{ matrix.project }}:lint

  test:
    name: Test
    needs: setup_matrix
    runs-on: ubuntu-latest
    if: ${{ needs.setup_matrix.outputs.test_should_run != '' }}
    strategy:
      matrix:
        project: ${{ fromJson( needs.setup_matrix.outputs.test ) }}

    steps:
      - uses: actions/checkout@v2

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Test
        run: yarn nx run ${{ matrix.project }}:test

  build:
    name: Build
    needs: setup_matrix
    runs-on: ubuntu-latest
    if: ${{ needs.setup_matrix.outputs.build_should_run != '' }}
    strategy:
      matrix:
        project: ${{ fromJson( needs.setup_matrix.outputs.build ) }}

    steps:
      - uses: actions/checkout@v2

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn nx run ${{ matrix.project }}:build

  e2e:
    name: E2E
    needs: setup_matrix
    runs-on: ubuntu-latest
    if: ${{ needs.setup_matrix.outputs.e2e_should_run != '' }}
    strategy:
      matrix:
        project: ${{ fromJson( needs.setup_matrix.outputs.e2e ) }}

    steps:
      - uses: actions/checkout@v2

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: E2E
        run: yarn nx run ${{ matrix.project }}:e2e --headless

  conclusion:
    name: Pipeline conclusion
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
      - build
      - e2e
    if: ${{ always() }}

    steps:
      - name: Check results
        run: |
          if ${{ needs.lint.result != 'skipped' && needs.lint.result != 'success' }}; then
            exit 1
          fi
          if ${{ needs.test.result != 'skipped' && needs.test.result != 'success' }}; then
            exit 1
          fi
          if ${{ needs.build.result != 'skipped' && needs.build.result != 'success' }}; then
            exit 1
          fi
          if ${{ needs.e2e.result != 'skipped' && needs.e2e.result != 'success' }}; then
            exit 1
          fi
